.father {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #424242;
  font-family: 'Ubuntu', sans-serif;
}

.wrapper {
  width: 450px;
  height: 450px;
  border-radius: 20px;
  background-color: #212121;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 24px -6px #000000;
  box-shadow: 0px 0px 24px -6px #000000;
}

.notebook {
  zoom: 110%;
}

.monitor {
  margin: auto;
  width: 240px;
  height: 85px;
  position: relative;
  padding: 5px;
}

.monitor::before {
  content: "";
  position: absolute;
  border-top: 2px solid #757575;
  border-left: 2px solid #757575;
  border-right: 2px solid #757575;
  background-color: #424242;
  border-radius: 5px;
  top: -4%;
  bottom: -15%;
  left: -3%;
  right: -3%;
  -webkit-transform: perspective(50em) rotateX(-30deg);
  transform: perspective(20em) rotateX(-30deg);
}

.montext {
  -webkit-transform: perspective(50em) rotateX(-30deg);
  transform: perspective(20em) rotateX(-30deg);
}

.tela {
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5px;
}

.tela::before {
  content: '';
  text-align: center;
  line-height: 50px;
  position: absolute;
  border: 2px solid #757575;
  background-color: #212121;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  top: -4%;
  bottom: -15%;
  left: -3%;
  right: -3%;
  -webkit-transform: perspective(50em) rotateX(-30deg);
  transform: perspective(20em) rotateX(-30deg);
}

.keyboard {
  padding-inline: 15px;
  padding-top: 10px;
  margin: auto;
  border-left: 2px solid #757575;
  border-right: 2px solid #757575;
  border-bottom: 2px solid #757575;
  border-top: 3px solid #757575;
  background-color: #424242;
  height: 150px;
  width: 250px;
  border-radius: 10px;
}

.innerkeyboard {
  background-color: #616161;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px;
}

.teclas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teclas > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1px;
}

.spacerow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spacerow > div {
  margin: 1px;
}

.spacebar {
  width: 100px;
  height: 8px;
  border-radius: 5px;
  margin-inline: 2px;
  background-color: #757575;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.f12s {
  width: 1px !important;
  height: 4px;
  border-radius: 20px;
  margin-inline: 2px;
  background-color: #757575;
}

.keys {
  width: 10px;
  height: 8px;
  border-radius: 3px;
  margin-inline: 2px;
  background-color: #757575;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.spacekeys {
  width: 10px;
  height: 8px;
  border-radius: 3px;
  margin-inline: 2px;
  background-color: #757575;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.trackpad {
  margin: auto;
  background-color: #616161;
  width: 80px;
  border-radius: 5px;
  height: 30%;
}

.titulo {
  color: #FF5404;
}

.website {
  height: 100vh;
  background-color: white;
}

p {
  color: #FF5404;
}

.website #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.website > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.website li {
  display: inline;
}
/*# sourceMappingURL=style.css.map */