.father {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #424242;
  font-family: 'Ubuntu', sans-serif;
}

.wrapper {
  width: 450px;
  height: 450px;
  border-radius: 20px;
  background-color: #212121;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 24px -6px #000000;
  box-shadow: 0px 0px 24px -6px #000000;
}

.notebook {
  zoom: 110%;
}

.monitor {
  margin: auto;
  width: 240px;
  height: 85px;
  position: relative;
  padding: 5px;
}

.monitor::before {
  content: "";
  position: absolute;
  border-top: 2px solid #757575;
  border-left: 2px solid #757575;
  border-right: 2px solid #757575;
  background-color: #424242;
  border-radius: 5px;
  top: -4%;
  bottom: -15%;
  left: -3%;
  right: -3%;
  -webkit-transform: perspective(50em) rotateX(-30deg);
  transform: perspective(20em) rotateX(-30deg);
}

.montext {
  -webkit-transform: perspective(50em) rotateX(-30deg);
  transform: perspective(20em) rotateX(-30deg);
}

.tela {
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5px;
}

.tela::before {
  content: '';
  text-align: center;
  line-height: 50px;
  position: absolute;
  border: 2px solid #757575;
  background-color: #212121;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  top: -4%;
  bottom: -15%;
  left: -3%;
  right: -3%;
  -webkit-transform: perspective(50em) rotateX(-30deg);
  transform: perspective(20em) rotateX(-30deg);
}

.keyboard {
  padding-inline: 15px;
  padding-top: 10px;
  margin: auto;
  border-left: 2px solid #757575;
  border-right: 2px solid #757575;
  border-bottom: 2px solid #757575;
  border-top: 3px solid #757575;
  background-color: #424242;
  height: 150px;
  width: 250px;
  border-radius: 10px;
}

.innerkeyboard {
  background-color: #616161;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 8px;
}

.teclas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teclas > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1px;
}

.spacerow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spacerow > div {
  margin: 1px;
}

.spacebar {
  width: 100px;
  height: 8px;
  border-radius: 5px;
  margin-inline: 2px;
  background-color: #757575;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.f12s {
  width: 1px !important;
  height: 4px;
  border-radius: 20px;
  margin-inline: 2px;
  background-color: #757575;
}

.keys {
  width: 10px;
  height: 8px;
  border-radius: 3px;
  margin-inline: 2px;
  background-color: #757575;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.spacekeys {
  width: 10px;
  height: 8px;
  border-radius: 3px;
  margin-inline: 2px;
  background-color: #757575;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.trackpad {
  margin: auto;
  background-color: #616161;
  width: 80px;
  border-radius: 5px;
  height: 30%;
}

.titulo {
  color: #FF5404;
}

p {
  color: #FF5404;
}

.website {
  height: 100vh;
  background-color: #141414;
  color: #F5F5F5;
  padding: 2%;
}

.container {
  margin: auto;
  width: 70vw;
}

.container #navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: bold;
}

.container #navbar > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navitems2 {
  text-align: end;
}

a {
  margin-inline: 1vw;
}

h2 {
  font-size: 50px;
}

@-webkit-keyframes hrcolor {
  0% {
    border: 2px solid #01545A;
    background-color: #01545A;
  }
  10% {
    border: 2px solid #03C383;
    background-color: #03C383;
  }
  20% {
    border: 2px solid #FBBF45;
    background-color: #FBBF45;
  }
  30% {
    border: 2px solid #EF6A32;
    background-color: #EF6A32;
  }
  40% {
    border: 2px solid #ED0345;
    background-color: #ED0345;
  }
  50% {
    border: 2px solid #A12A5E;
    background-color: #A12A5E;
  }
  60% {
    border: 2px solid #ED0345;
    background-color: #ED0345;
  }
  70% {
    border: 2px solid #EF6A32;
    background-color: #EF6A32;
  }
  80% {
    border: 2px solid #FBBF45;
    background-color: #FBBF45;
  }
  90% {
    border: 2px solid #03C383;
    background-color: #03C383;
  }
  100% {
    border: 2px solid #01545A;
    background-color: #01545A;
  }
}

@keyframes hrcolor {
  0% {
    border: 2px solid #01545A;
    background-color: #01545A;
  }
  10% {
    border: 2px solid #03C383;
    background-color: #03C383;
  }
  20% {
    border: 2px solid #FBBF45;
    background-color: #FBBF45;
  }
  30% {
    border: 2px solid #EF6A32;
    background-color: #EF6A32;
  }
  40% {
    border: 2px solid #ED0345;
    background-color: #ED0345;
  }
  50% {
    border: 2px solid #A12A5E;
    background-color: #A12A5E;
  }
  60% {
    border: 2px solid #ED0345;
    background-color: #ED0345;
  }
  70% {
    border: 2px solid #EF6A32;
    background-color: #EF6A32;
  }
  80% {
    border: 2px solid #FBBF45;
    background-color: #FBBF45;
  }
  90% {
    border: 2px solid #03C383;
    background-color: #03C383;
  }
  100% {
    border: 2px solid #01545A;
    background-color: #01545A;
  }
}

hr {
  -webkit-animation-name: hrcolor;
          animation-name: hrcolor;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0.5;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */